
.orphans {
  display: none;
}

.editor-panel {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.editor-tab-bar {
  width: 100%;
  background: #eee;
  display: flex;
  flex-direction: row;
  /*
  border-bottom: 1px solid #57a7bf;
  overflow: visible;
  */
}

.editor-tab-bar .tab {
  padding: .5em 1em .75em;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  /*
  top: 1px;
  position: relative;
  */
  white-space: nowrap;
  border-width: 1px;
  border-style: solid; 
  border-color: rgba(0,0,0,0);
}

.editor-tab-bar .tab .tab-x:after {
  content: 'X';
  font-weight: 600;
  margin-left: 1em;
  color: #666;
  opacity: 0;
}

.editor-tab-bar .tab-label:before {
  content: "\00a0";
}

.editor-tab-bar .tab.dirty .tab-label:before {
  content: '*';
}

.editor-tab-bar .tab.active .tab-x:after {
  opacity: 1;
}

.editor-tab-bar .tab:hover .tab-x:after {
  opacity: 1;
}

.editor-tab-bar .tab-x:hover:after {
  color: #000;
}

.editor-tab-bar .tab.active {
  background: #fff;
  /*
  border-color: #57a7bf;
  border-bottom-color: #fff;
  */
}

/** 
 * this node holds the editor and the search panel.  otherwise
 * toggling the search panel slightly resizes the tab and status
 * bars, which is irritating.
 */
.editor-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.editor-content-panel {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.editor-content-pane {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* --- status bar --- */

.editor-status-bar {
  background: #eee;
  width: 100%;
  flex-direction: row;
  display: flex;
  border-top: 1px dotted #ccc;
}

.editor-status-bar > div {
  width: 50%;
  flex-grow: 1;
  display: flex;
  font-size: .9em;
}

.editor-status-bar > div > div {
  padding: .25em 1em;
}

.editor-status-bar .right {
  justify-content: flex-end;
}

.editor-status-bar .left {
  justify-content: flex-start;
}

/* --- search panel --- */

.editor-search-panel {
  background: #eee;
  border-top: 1px dotted #ccc;
  width: 100%;
  padding: .5em 2em;
  display: none;
}

.editor-search-panel #replace-row {
  display: none;
}

.editor-search-panel .spacer {
  height: .33em;
}

/* textbox */

.editor-search-panel input[type=text] {
  border: 1px solid #39f;
  height: 25px;
  padding-left: .5em;
  width: 22em;
  outline: none;
  line-height: 1;
}

/* buttons */

.editor-search-panel button {
  border: 1px solid #ccc;
  background: #eee;
  overflow: hidden;
  height: 25px;
  width: 25px;
  margin-left: .2em;
  text-align: center;
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  line-height: 0em;
  position: relative;
  top: 1px;
}

.editor-search-panel button#find-previous:after {
  content: "arrow_back";
  position: relative;
  left: -1px;
}

.editor-search-panel button#find-next:after {
  content: "arrow_forward";
}

.editor-search-panel button:hover {
  border: 1px solid #39f;
  outline: 0;
}

.editor-search-panel button:active {
  background: #fff;
  outline: 0;
}

.editor-search-panel div + button {
  margin-left: 1em;
}

/* checkboxes */

.editor-search-panel input[type=checkbox] {
  visibility: hidden;
  width: 0;
}

.editor-search-panel .checkbox {
  margin-left: .2em;
	position: relative;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 0;
}

.editor-search-panel .checkbox label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
  border: 1px solid #ccc;
  background: #ddd;
  overflow: hidden;
}

.editor-search-panel .checkbox input[type=checkbox] + label:after {
  position: absolute;
  margin: 0 auto;
  top: 1px;
  width: 100%;
  text-align: center;
}

.editor-search-panel .checkbox input[type=checkbox]#find-regex + label:after {
  content: '.*';
}

.editor-search-panel .checkbox input[type=checkbox]#find-whole-word + label:after {
  content: '[...]';
}

.editor-search-panel .checkbox input[type=checkbox]#find-case-sensitive + label:after {
  content: 'Ab';
  top: 2px;
}

.editor-search-panel .checkbox input[type=checkbox]:checked + label {
  border-color: #39f;
  background: #eee;
}

.editor-search-panel input + div.checkbox {
  margin-left: 1em;
}
